/* .navbar{
  width: 100%;
  padding: 20px;
 
} */
/* 
.nav_menu{
  margin-left: 40%;
  
} */

/* .user_image{
float: right; 
  margin-top: -45px;
  vertical-align: top;
  margin-right: 70px;
} */

.main_menu .active{
  color: orange;
}

.logo{
  float: left;
  margin-top: 10px;
}

/* .nav_menu ul{
list-style: none;

} */

/* .nav_menu ul li{
  display: inline;
  margin: 0px 20px 0px;
  
} */

 .main_menu a{
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 12px;
  margin-top: 15px;
  padding: 0px 10px 0px;
}

.main_menu a:hover{
  color: orange;
}

.main_menu .avatar{
  margin-left: 60px;
}


/* .user_image_box{
  float: left;

}



.user_name_box{
  float: right;

  margin: 10px 5px;
 
} */

/* .button{
  background: yellow;
} */

